.container {
    background-color: #fff2e7;
    margin-left: 24px;
    border-radius: 8px;
    .containerItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 12px 4px;
        cursor: pointer;
        border-bottom: 1px solid #ffe3cd;
        &:last-child {
            border-bottom: none;
        }
        .iconNotify {
            height: 28px;
            width: 28px;
            font-size: 28px;
            border: none;
            color: #fff2e7;
        }
        .text {
            color: #ff7506;
            font-size: 14px;
            line-height: 20px;
            margin-top: 4px;
            text-align: center;
        }
    }
}
