.section {
    margin: 16px 0 20px 24px;
}

.inputContainer {
    margin-right: 100px;
}

.title {
    color: #ff7506 !important;
}

.selectContianer {
    width: 300px;
}

.section2 {
    margin: 16px 63px 20px 24px;
}

.title2 {
    color: #ff7506 !important;
    font-size: 20px;
}

.buttonContainer {
    margin-top: 24px;
}

.button {
    height: 48px;
    width: 147px;
}

.label {
    font-weight: 600;
    font-size: 16px;
}

.providerContainer {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.providerInput {
    width: 61px;
    margin: 0 12px;
}
